html {
background-image: url(resources/gondola.gif);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: center;
}

.termIndex {
margin: 0;
position: absolute;
top: 42%;
left: 50%;
transform: translate(-50%, -50%);
overflow: auto;
font-size: 17px;
background-color: #0C090A;
color: #b3b8c3;
width: 270px;
border: solid 1px #1e1e1e;
margin-left: auto;
margin-right: auto;
padding: 3px;
word-wrap: break-word; 
}

.termHead {
font-size: 15px!important;
background-color: #0C090A;
color: #b3b8c3;
width: fit-content;
border: solid 1px #1e1e1e;
margin-left: auto;
margin-right: auto;
word-break: break-word;
}

.termText {
font-size: 16px!important;
background-color: #0C090A;
color: #b3b8c3;
width: fit-content;
border: solid 1px #1e1e1e;
width: 570px;
margin-left: auto;
margin-right: auto;
word-break: break-word;
}

.termNews {
font-size: 14px!important;
background-color: #0C090A;
color: #b3b8c3;
width: fit-content;
border: solid 1px #1e1e1e;
width: 1140px;
width: fit-content;
margin-left: auto;
margin-right: auto;
word-break: break-word;
}

.termAboutUs {
font-size: 14px!important;
background-color: #0C090A;
color: #b3b8c3;
width: fit-content;
border: solid 1px #1e1e1e;
width: 890px;
margin-left: auto;
margin-right: auto;
word-break: break-word;


}

.termPic {
border: solid 0px #1e1e1e;
width: 570px;
padding: px;
border: solid 1px #1e1e1e;
background-color: #0C090A;



display: block;
margin-left: auto;
margin-right: auto }
}

.links {
background-color: #0C090A!important;
text-decoration: none;
color: #7d8fa4!important;
}
        
.links:hover {
background-color: #7d9fa4!important;
color: #0C090A!important;
cursor: pointer;
}

.logo {
position: fixed;
bottom: 10px;
left: 10px;
}